<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Navigation bar</title>
</head>
<body>
<div th:fragment="navbar" class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link active" th:href="@{/dashboard}">Home</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/employees/list}">Employees</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/payroll/payroll}">Payroll</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/ptobalance/pto}">Paid Time Off</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/timesheets/timesheets}">Time Sheets</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/training/training}">Training</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/messages/messages}">Messages</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/notifications/notifications}">Notifications</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/tasks/tasks}">Tasks</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/payments/paystubs}">Paystubs</a> </li>
    <li class="nav-item"> <a class="nav-link" th:href="@{/logout}">Logout</a> </li>
  </ul>
</div>
</body>
</html>
